<footer class="text-center text-white mt-auto bg-light">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-youtube" style="color: #ff0000"></i
      ></a>

      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-twitter" style="color: #1da1f2"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-instagram" style="color: #d62976"></i
      ></a>
    </section>
  </div>

  <div class="text-center text-white p-3 bg-dark">
    © 2023 Copyright:
    <a class="text-white" href="/">FoodApp.com</a>
  </div>
</footer>
