<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">FoodApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link px-3" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/foods">Foods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="/foods/new">New Food</a>
        </li>
      </ul>

      <ul class="navbar-nav flex-row ml-auto">
        <% if(!user) {%>
        <a class="nav-link" href="/signin">Login</a>
        <a class="nav-link" href="/signup">Register</a>
        <% } else {%>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
