<% layout('layout/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Food</h1>
  <div class="col-6 offset-3">
    <form action="/foods" method="POST">
      <div class="mb-4">
        <label class="form-label" for="title">Food Title</label>
        <input class="form-control" type="text" id="title" name="food[title]" />
      </div>
      <div class="mb-4">
        <label class="form-label" for="location">Food Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="food[location]"
        />
      </div>
      <div class="mb-4">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="food[image]" />
      </div>
      <div class="mb-4">
        <label class="form-label" for="price">Food Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="food[price]"
          />
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label" for="description">Food Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="food[description]"
        ></textarea>
      </div>
      <div class="mb-4">
        <button class="btn btn-dark">Add Food</button>
      </div>
    </form>
    <a href="/foods">All Foods</a>
  </div>
</div>
