<% layout('layout/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Food</h1>
  <div class="col-6 offset-3">
    <form action="/foods" method="POST" novalidate class="form-validation">
      <div class="mb-4">
        <label class="form-label" for="title">Food Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="food[title]"
          required
        />
        <div class="invalid-feedback">Please add title.</div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="location">Food Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="food[location]"
          required
        />
        <div class="invalid-feedback">Please choose location.</div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="food[image]"
          required
        />
        <div class="invalid-feedback">Please add image url.</div>
      </div>
      <div class="mb-4">
        <label class="form-label" for="price">Food Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="food[price]"
            required
          />
          <div class="invalid-feedback">Please define price.</div>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label" for="description">Food Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="food[description]"
          required
        ></textarea>
        <div class="invalid-feedback">Please add description.</div>
      </div>
      <div class="mb-4">
        <button class="btn btn-dark">Add Food</button>
      </div>
    </form>
    <a href="/foods">All Foods</a>
  </div>
</div>
